/* Reset */
@font-face {
  font-family: 'UTM Duepuntozero';
  src: url('/fonts/UTM_Duepuntozero.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM Akashi';
  src: url('/fonts/UTM Akashi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* ?n c�c b? l?c nguy�n li?u trong popup menu public */
#public-menu-modal #category-filters button[onclick*="'protein'"],
#public-menu-modal #category-filters button[onclick*="'carbs'"],
#public-menu-modal #category-filters button[onclick*="'veggies'"],
#public-menu-modal #category-filters button[onclick*="'sauce'"] {
    display: none !important;
}


/* Fix scroll animation spacing on mobile */
@media (max-width: 768px) {
  #scroll-animation-sticky {
    height: calc(112.5vw - 36px) !important;
    top: calc(50vh - 56.25vw + 18px) !important;
  }

  /* Prevent automatic mobile zoom on input focus */
  input,
  select,
  textarea {
    font-size: 16px !important;
    touch-action: manipulation;
  }
}

